*{
  background-color: #808eb6;
}
.container {
  min-height: 100vh;
  display: flex;     
  flex-direction: column;
  align-items: center;   
  justify-content: flex-start;  
  
}

.headtext {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom :0px;  
}
#heading{
  margin-top: 0px;
  background-color: bisque;
  width:100vw;
}
#paste-note{
  font-size: 20px;
  font-weight:bold;
  color: rgb(105, 104, 104);
  margin-top: 0px;
  position: relative;
  margin-bottom: 15px;
}
.main-body{
  display:flex;
  flex-direction:row;
  background-color: lightpink;
  width: 100vw;
  gap: 40px;
  justify-content: center; 
  align-items: center;

}

@media (max-width: 800px) {
  .main-body {
    flex-direction: column;
  }
}
.text-area {
  display: flex;
  background-color: white; 
  border: 2px solid #808eb6; 
  border-radius: 40px;
  padding-left: 20px;
  padding-bottom:20px;
  padding-top:0px;
  padding-right: 20px;
  width: 310px;  
  min-height: 450px; 
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2); 
  max-height: 600px;
  flex-direction: column;
  align-items: center;
}
#paste-text{
  background-color: rgb(255, 255, 255);
  color:#808eb6;
}
.content{
  display: flex;
  flex-direction: column; /* stack input(s) inside */
  width: 100%;
  padding: 0;
  border-radius: 20px;
  background: none;
}

#input-area{
  box-sizing: border-box;
  width:100%;
  border: 2px solid #808eb6;
  border-radius: 8px;
  font-size: 16px;
}
