#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body { 
  background-color: #F3F6FF;
  margin: 0; 
  font-family: sans-serif;

}

section { 
  width: 95%; 
  margin: 0 auto;
  text-align: left;
  margin-top: 5%;
}
