#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body { 
  background-color: #F3F6FF;
  margin: 0; 
  font-family: sans-serif;

}

section { 
  width: 95%; 
  margin: 0 auto;
  text-align: left;
  margin-top: 5%;
}

.blueButton{
  display: flex;
  width: 140px;
  justify-content: space-between;
  padding:0 10px;
  align-items: center;
  background-color: #476ae9;
  color: white;
  width: auto;
  padding: 10px;
  min-width: 75px;
  justify-content:center ;
}
